<!DOCTYPE html>
<html>
<head>
  <title>Gmail Authentication App </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div>
</div>
<div>
  <%= yield %>
</div>
</body>
</html>